---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Se viene la Fiesta del Chivo" description="">
  <Fragment slot="seo">
    <meta property="og:title" content="Se viene la Fiesta del Chivo" />
    <meta
      property="og:description"
      content="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur
    dolorem eius quos cumque reiciendis molestiae odit nemo tempore quidem ipsum
    in asperiores eum, voluptatum provident omnis at vitae eveniet incidunt."
    />
    <meta
      property="og:url"
      content="https://villaana.gob.ar/noticias/se-viene-la-fiesta-del-chivo"
    />
    <meta property="og:site_name" content="Comuna de Villa Ana" />
    <meta property="og:locale" content="es_LA" />
    <meta
      property="og:image"
      content="https://www.malargueadiario.com/wp-content/uploads/2024/01/Fiesta-Nacional-del-Chivo-2-759x500.jpg"
    />
    <meta property="og:image:alt" content="" />
    <meta property="og:type" content="article" />

    <meta property="article:published_time" content="2024-03-27T19:37-03:00" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Se viene la Fiesta del Chivo" />
    <meta
      name="twitter:description"
      content="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur
    dolorem eius quos cumque reiciendis molestiae odit nemo tempore quidem ipsum
    in asperiores eum, voluptatum provident omnis at vitae eveniet incidunt."
    />
    <meta
      name="twitter:image"
      content="https://www.malargueadiario.com/wp-content/uploads/2024/01/Fiesta-Nacional-del-Chivo-2-759x500.jpg"
    />
    <meta name="twitter:image:alt" content="" />
  </Fragment>

  <article>
    <h1>Se viene la fiesta del chivo</h1>
    <div class="social">
      <a
        href="https://www.facebook.com/sharer/sharer.php?u=https://villaana.gob.ar/noticias/se-viene-la-fiesta-del-chivo"
        target="_blank"
        rel="noreferrer"
        title="Compartir en Facebook"
        ><img
          src="/facebook-logo.svg"
          alt="Logo de Facebook"
          loading="lazy"
        /></a
      ><a
        href="https://twitter.com/intent/tweet?text=Se viene la fiesta del chivo&url=https://villaana.gob.ar/noticias/se-viene-la-fiesta-del-chivo"
        target="_blank"
        rel="noreferrer"
        title="Compartir en X"
        ><img src="/x-logo.svg" alt="Logo de X" loading="lazy" /></a
      ><a
        href="https://api.whatsapp.com/send?text=https://villaana.gob.ar/noticias/se-viene-la-fiesta-del-chivo"
        target="_blank"
        rel="noreferrer"
        title="Compartir en Whatsapp"
        ><img
          src="/whatsapp-logo.svg"
          alt="Logo de Whatsapp"
          loading="lazy"
        /></a
      >
      <p>Comparte la noticia</p>
    </div>
    <time datetime="2024-03-27T19:37-03:00">14 de julio de 2024 - 19:37</time>
    <p class="entrada">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur
      dolorem eius quos cumque reiciendis molestiae odit nemo tempore quidem
      ipsum in asperiores eum, voluptatum provident omnis at vitae eveniet
      incidunt.
    </p>
    <img
      src="https://www.malargueadiario.com/wp-content/uploads/2024/01/Fiesta-Nacional-del-Chivo-2-759x500.jpg"
      alt=""
    />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sunt iure
      amet magni molestias, at reprehenderit unde et ea aspernatur illo aliquid,
      in sint! Minus nobis dolore quis enim atque?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sunt iure
      amet magni molestias, at reprehenderit unde et ea aspernatur illo aliquid,
      in sint! Minus nobis dolore quis enim atque?
    </p>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/VU1AQm0alTc?si=R_t22ToUY4UAgKFr"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sunt iure
      amet magni molestias, at reprehenderit unde et ea aspernatur illo aliquid,
      in sint! Minus nobis dolore quis enim atque?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sunt iure
      amet magni molestias, at reprehenderit unde et ea aspernatur illo aliquid,
      in sint! Minus nobis dolore quis enim atque?
    </p>
    <div class="social bottom">
      <a
        href="https://www.facebook.com/sharer/sharer.php?u=https://villaana.gob.ar/noticias/se-viene-la-fiesta-del-chivo"
        target="_blank"
        rel="noreferrer"
        title="Compartir en Facebook"
        ><img
          src="/facebook-logo.svg"
          alt="Logo de Facebook"
          loading="lazy"
        /></a
      ><a
        href="https://twitter.com/intent/tweet?text=Se viene la fiesta del chivo&url=https://villaana.gob.ar/noticias/se-viene-la-fiesta-del-chivo"
        target="_blank"
        rel="noreferrer"
        title="Compartir en X"
        ><img src="/x-logo.svg" alt="Logo de X" loading="lazy" /></a
      ><a
        href="https://api.whatsapp.com/send?text=https://villaana.gob.ar/noticias/se-viene-la-fiesta-del-chivo"
        target="_blank"
        rel="noreferrer"
        title="Compartir en Whatsapp"
        ><img
          src="/whatsapp-logo.svg"
          alt="Logo de Whatsapp"
          loading="lazy"
        /></a
      >
      <p>Comparte la noticia</p>
    </div>
  </article>
</Layout>

<style>
  article {
    max-width: 768px;
  }

  h1 {
    font-weight: 900;
    font-size: 2rem;
    text-wrap: balance;
  }

  .social {
    display: inline-grid;
    grid-template-columns: repeat(3, 30px);
    justify-items: center;
    column-gap: 0.5rem;

    &.bottom {
      display: grid;
      justify-content: center;
      padding-block: 1rem;
      border-block: 1px solid gray;
      margin-top: 2rem;

      p {
        bottom: 0.25rem;
      }
    }

    img {
      width: 30px;
      height: 30px;
      transition: scale 0.3s;

      &:hover {
        scale: 1.05;
      }
    }

    p {
      grid-column: span 3;
      text-transform: uppercase;
      font-size: 0.5rem;
      margin: 0;
      opacity: 0.9;
    }
  }

  time {
    font-size: 0.75rem;
    opacity: 0.9;
    margin-left: 1rem;
    vertical-align: super;
  }

  p {
    margin-block: 0.5rem;
    text-wrap: pretty;
  }

  .entrada {
    font-weight: 700;
  }

  img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
  }

  iframe {
    max-width: 100%;
  }
</style>
