---
import MinimalLayout from "@/layouts/MinimalLayout.astro";
---

<MinimalLayout title="Dashboard">
  <div class="dashboard">
    <div class="left">
      <a href="/dashboard/nuevo">nuevo</a>
      <a href="/dashboard/editar">editar</a>
    </div>
    <div class="right">
      <slot />
    </div>
  </div>
  <form action="/api/auth/logout">
    <button type="submit">Cerrar sesión</button>
  </form>
</MinimalLayout>

<style>
  .dashboard {
    display: flex;
    gap: 1rem;
  }

  .left {
    width: 40px;
    border: 1px solid black;
  }

  .right {
    flex: 1;
  }
</style>
