---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import ButtonUp from "@/components/ButtonUp.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/avif" href="/logo.avif" />
    <title>Panel de control - Comuna de Villa Ana</title>
    <meta name="theme-color" content="#112886" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preload" as="image" type="image/avif" href="/logo.avif" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/onest-vf.woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/lush.woff2"
      crossorigin="anonymous"
    />
    <style is:inline>
      @font-face {
        font-family: "Onest Variable";
        font-style: normal;
        font-display: swap;
        font-weight: 100 900;
        src: url("/fonts/onest-vf.woff2") format("woff2-variations");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: "Lush";
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: url("/fonts/lush.woff2") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      :root {
        --red: #f12b42;
        --green: rgb(63, 174, 7);
        --blue: rgb(17, 40, 134);
        --skyblue: rgb(69, 206, 222);
        --shadow-black-lg: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
          rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgb(0, 0, 0) 0px 10px 15px -3px,
          rgb(0, 0, 0) 0px 4px 6px -4px;
        --text-shadow-black: 0px 0px 4px #000000;
        --header-bg-color: rgb(231, 230, 228);

        scroll-behavior: smooth;
        scrollbar-color: rgb(55 65 81) rgb(231, 230, 228);
        scrollbar-width: thin;

        &:has(.hero) {
          --header-bg-color: black;
        }
      }

      body {
        font-family: "Onest Variable", sans-serif;
        background-image: url(/noise.webp);
        background-size: 100px;
        color: #000000;

        &:has(.hero) {
          header {
            color: white;
          }

          main {
            margin-top: calc(100dvh - 50px);
          }

          .dropdown-btn::after {
            content: url("/chevron-down-white.svg");
          }
        }

        &:not(:has(.hero)) {
          .dropdown-btn::after {
            content: url("/chevron-down-black.svg");
          }
        }
      }

      main {
        max-width: 1024px;
        margin-inline: auto;
        padding: 1rem;
        min-height: 100dvh;
      }

      .main-header {
        position: relative;
        z-index: 10;

        .main-header-container {
          max-width: 1024px;
          margin-inline: auto;
          padding: 1rem;
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          align-content: flex-start;
          align-items: center;

          @media (width >= 768px) {
            display: flex;
            justify-content: space-between;
          }

          .menu-btn {
            justify-self: end;

            @media (width >= 768px) {
              display: none;
            }

            @media (scripting: none) {
              display: none;
            }
          }

          .menu {
            display: none;

            @media (width >= 768px) {
              display: block;
              transform: translateY(6px);
              padding-block: 0;
            }

            @media (scripting: none) {
              display: none;
            }

            > ul {
              @media (width >= 768px) {
                display: flex;
                flex-direction: row;
                gap: 1.5rem;
              }

              > li > .dropdown-btn {
                @media (width >= 768px) {
                  padding: 0 1.5rem 0.25rem 0;
                  border: none;

                  &::after {
                    position: absolute;
                    top: -3px;
                    right: 0;
                    scale: 0.75;
                  }
                }
              }

              > li > .menu-link {
                @media (width >= 768px) {
                  padding: 0 0 0.25rem 0;
                  border: none;
                }
              }
            }
          }
        }
      }

      .logo-link {
        justify-self: start;
        transition: scale 0.3s;

        &:is(:hover, :focus-visible) {
          scale: 1.05;
        }

        .logo {
          display: flex;
          gap: 0.5rem;
          align-items: center;

          img {
            width: 5rem;
            aspect-ratio: 1;

            @media (width >= 768px) {
              width: 6rem;
            }
          }

          h1 {
            display: flex;
            flex-direction: column;

            .comunade {
              text-transform: uppercase;
              font-size: 9px;

              @media (width >= 768px) {
                font-size: 10px;
              }
            }

            .villaana {
              font-family: "Lush", cursive;
              font-size: 32px;
              text-wrap: nowrap;
              line-height: 1;

              @media (width >=768px) {
                font-size: 2.25rem;
              }
            }
          }
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <!-- <h1>Bienvenido {user.displayName}</h1> -->
      <p>Nos alegra verte aquí</p>
      <form action="/api/auth/logout">
        <button type="submit">Cerrar sesión</button>
      </form>
      <div class="dashboard">
        <div class="left">
          <a href="/dashboard/nuevo">nue</a>
          <a href="/dashboard/editar">edi</a>
        </div>
        <slot />
      </div>
    </main>
    <Footer />
    <ButtonUp />
  </body>
</html>

<style>
  .dashboard {
    display: flex;
    gap: 1rem;
  }

  .left {
    width: 40px;
    border: 1px solid black;
  }
</style>

<style is:global>
  p {
    text-wrap: pretty;
  }
</style>
