---
export const prerender = false;

import { app } from "../../firebase/server";
import { getAuth } from "firebase-admin/auth";

const auth = getAuth(app);

/* Verificar la sesión actual */
if (!Astro.cookies.has("__session")) {
  return Astro.redirect("/login");
}
const sessionCookie = Astro.cookies.get("__session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/login");
}

import DashboardLayout from "./_DashboardLayout.astro";
---

<DashboardLayout>
  <div>
    <h1>Editar noticia</h1>
    <form class="article-form">
      <label>
        <span>Título</span>
        <textarea id="title"></textarea>
      </label>
      <label>
        <span>Entrada</span>
        <textarea id="lead"></textarea>
      </label>
      <label>
        <span>Imagen</span>
        <input type="file" id="image" />
      </label>
      <div class="editor-container">
        <div id="editor"></div>
      </div>
      <button type="submit">Enviar</button>
    </form>

    <div class="preview-container">
      <iframe class="preview"></iframe>
    </div>
  </div>
</DashboardLayout>

<!-- <script is:inline src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"
></script> -->

<script type="module">
  import "https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js";

  const $preview = document.querySelector(".preview");
  const $form = document.querySelector(".article-form");
  const $titleInput = $form.querySelector("#title");
  const $leadInput = $form.querySelector("#lead");
  const $imageInput = $form.querySelector("#image");

  const options = {
    modules: {
      toolbar: [
        [{ font: [] }],
        [{ size: ["small", false, "large", "huge"] }],
        [{ header: [1, 2, 3, 4, 5, 6, false] }],
        ["bold", "italic", "underline", "strike"],
        ["blockquote", "code-block"],
        ["link", "image", "video", "formula"],
        [{ header: 1 }, { header: 2 }],
        [{ list: "ordered" }, { list: "bullet" }, { list: "check" }],
        [{ script: "sub" }, { script: "super" }],
        [{ indent: "-1" }, { indent: "+1" }],
        [{ direction: "rtl" }],
        [{ color: [] }, { background: [] }],
        [{ align: [] }],
        ["clean"],
      ],
    },
    placeholder: "Escribe el cuerpo de la noticia aquí...",
    theme: "snow",
  };
  const quill = new Quill("#editor", options);

  let title, lead, image, body;

  function handleSubmit(e) {
    e.preventDefault();
    console.log({ title, lead, image, body });
  }

  function handleChange(e) {
    e.preventDefault();

    const $changedElem = e.target;
    const { id } = $changedElem;

    switch (id) {
      case "title":
        title = $changedElem.value;
        break;

      case "lead":
        lead = $changedElem.value;
        break;

      case "image":
        image = $changedElem.files[0];
        break;

      default:
        break;
    }
  }

  $form.addEventListener("submit", handleSubmit);
  $titleInput.addEventListener("input", handleChange);
  $leadInput.addEventListener("input", handleChange);
  $imageInput.addEventListener("change", handleChange);
  quill.on("text-change", () => {
    body = quill.getSemanticHTML();
    console.log(body);
    $preview.setAttribute("srcdoc", body);
  });
</script>

<style>
  @import url("https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css");

  h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  form {
    max-width: 65ch;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    label {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      textarea {
        padding: 0.5rem;
        resize: none;
      }
    }
  }

  .editor-container {
    background-color: red;
  }

  #editor {
    height: calc(100dvh - 2rem);
    scrollbar-width: thin;
  }

  .preview-container {
    background-color: blue;
    margin-top: 1rem;
  }

  .preview {
    background-color: green;
    width: 100%;
    max-width: 65ch;
    height: calc(100dvh - 2rem);
    display: block;
  }
</style>
