---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="P치gina no encontrada - Comuna de Villa Ana"
  description="Lo sentimos, pero no pudimos encontrar lo que buscabas. Verifica que la direcci칩n URL sea correcta."
>
  <section class="pt-8">
    <h1
      class="font-bold mb-12 text-3xl bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat pb-1"
    >
      P치gina no encontrada
    </h1>
    <p class="mb-4">
      Lo sentimos, pero no pudimos encontrar lo que buscabas. Verifica que la
      direcci칩n URL sea correcta.
    </p>
    <a
      href="/"
      class="inline-block px-8 py-2 shadow-md shadow-black hover:scale-[1.025] focus-within:scale-[1.025] transition-transform active:translate-y-1"
      >Ir al inicio</a
    >
  </section></Layout
>
