---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Página no encontrada - Comuna de Villa Ana"
  description="Lo sentimos, pero no pudimos encontrar lo que buscabas. Verifica que la dirección URL sea correcta."
>
  <section class="pt-8">
    <h1
      class="font-gilroyB mb-12 text-3xl bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat pb-1"
    >
      Página no encontrada
    </h1>
    <div class="md:flex gap-x-4 items-center">
      <img
        src="/not-found.avif"
        alt="Imgane not found"
        class="w-full max-w-md mx-auto"
      />
      <div>
        <p class="text-pretty text-gray-950 mb-4">
          ¡Hola! Lo sentimos, pero no pudimos encontrar lo que buscabas.
          Verifica que la dirección URL sea correcta.
        </p>
        <a
          href="/"
          class="block w-fit px-8 py-2 border shadow-md shadow-black hover:scale-[1.025] focus-within:scale-[1.025] transition-transform active:translate-y-1"
          >Ir al inicio</a
        >
      </div>
    </div>
  </section></Layout
>
