---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Autoridades - Comuna de Villa Ana"
  description="Miembros de la Comisión Comunal de Villa Ana durante el período 2023/2025"
>
  <section class="pt-8">
    <h1
      class="font-gilroyB mb-12 text-3xl bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat pb-1"
    >
      Autoridades
    </h1>
    <!-- <ul>
      <li>
        Presidente Catalino Comán <img
          src="/catalino-coman.avif"
          alt="Foto de Catalino Comán, presidente de la Comuna de Villa Ana"
          class="block aspect-square w-full object-cover max-w-md shadow-xl shadow-black rounded"
        />
      </li>
      <li class="mt-8">Norma Beatriz Maidana</li>
      <li>Pablo Mario Furlán</li>
      <li>Julieta Alderete Van Weele</li>
      <li>Gregorio Ramón Ojeda</li>
      <li>Graciela Carina Álvarez</li>
      <li>Esteban Javier Saravia</li>
      <li>Ramona María Itatí Martinez</li>
      <li>Angel Alberto Romano</li>
      <li>Gilda Zulema Prieto</li>
      <li>Ruben Roura</li>
      <li>Nanci Marina Piedrabuena</li>
      <li>Angel Armando Contreras</li>
      <li>María Rosa Gomez</li>
      <li>Fernando Antonio Leiva</li>
      <li>Elida Beatriz Moreyra</li>
    </ul> -->
    <div class="table-container">
      <table>
        <caption>Comisión comunal período 23/25</caption>
        <thead>
          <tr>
            <th>POSICIÓN</th>
            <th>APELLIDO Y NOMBRE</th>
            <th>CARGO</th>
            <th>PARTIDO/ALIANZA</th></tr
          >
        </thead>
        <tbody>
          <tr>
            <td>T1</td>
            <td>Comán, Catalino Carlos Adrián</td>
            <td>Miembro Comunal</td>
            <td>Unidos para cambiar Santa Fe</td></tr
          >
          <tr>
            <td>T2</td>
            <td>Maidana, Norma Beatriz</td>
            <td>Miembro Comunal</td>
            <td>Unidos para cambiar Santa Fe</td></tr
          >
          <tr>
            <td>T3</td>
            <td>Furlán, Pablo Mario</td>
            <td>Miembro Comunal</td>
            <td>Unidos para cambiar Santa Fe</td></tr
          >
          <tr>
            <td>T4</td>
            <td>Alderete Van Weele, Julieta</td>
            <td>Miembro Comunal</td>
            <td>Unidos para cambiar Santa Fe</td></tr
          >
          <tr class="ja">
            <td>T5</td>
            <td>Romano, Ramón Eduardo</td>
            <td>Miembro Comunal</td>
            <td>Juntos avancemos</td></tr
          >
          <tr>
            <td>T1</td>
            <td>Roura, Rubén</td>
            <td>Contralor de cuenta</td>
            <td>Unidos para cambiar Santa Fe</td></tr
          >
          <tr>
            <td>T2</td>
            <td>Piedrabuena, Nanci Marina</td>
            <td>Contralor de cuenta</td>
            <td>Unidos para cambiar Santa Fe</td></tr
          >
          <tr class="ja">
            <td>T3</td>
            <td>Romero, Edgardo Luis</td>
            <td>Contralor de cuenta</td>
            <td>Juntos avancemos</td></tr
          >
        </tbody>
      </table>
    </div>
  </section></Layout
>

<style>
  .table-container {
    overflow-x: auto;
    scrollbar-width: thin;
  }

  table {
    margin-top: 1rem;
    margin-inline: auto;
    border: 1px solid black;
    font-size: 0.75rem;

    @media (width >= 640px) {
      font-size: 1rem;
    }

    & th,
    & td {
      border: 1px solid black;
      padding: 0.5rem;
    }

    thead {
      background-color: gray;
    }

    tbody {
      tr {
        background-color: #ff6a0036;
      }

      tr.ja {
        background-color: #0000ff26;
        border-spacing: 5px;
      }
    }
  }
</style>
