---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Autoridades - Comuna de Villa Ana">
  <section class="pt-8">
    <h1
      class="font-gilroyB mb-12 text-3xl bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat pb-1"
    >
      Autoridades
    </h1>
    <ul>
      <li>
        Presidente Catalino Comán <img
          src="/catalino-coman.avif"
          alt="Foto de Catalino Comán, presidente de la Comuna de Villa Ana"
          class="block aspect-square w-full object-cover max-w-md shadow-xl shadow-black rounded"
        />
      </li>
      <li class="mt-8">Norma Beatriz Maidana</li>
      <li>Pablo Mario Furlán</li>
      <li>Julieta Alderete Van Weele</li>
      <li>Gregorio Ramón Ojeda</li>
      <li>Graciela Carina Álvarez</li>
      <li>Esteban Javier Saravia</li>
      <li>Ramona María Itatí Martinez</li>
      <li>Angel Alberto Romano</li>
      <li>Gilda Zulema Prieto</li>
      <li>Ruben Roura</li>
      <li>Nanci Marina Piedrabuena</li>
      <li>Angel Armando Contreras</li>
      <li>María Rosa Gomez</li>
      <li>Fernando Antonio Leiva</li>
      <li>Elida Beatriz Moreyra</li>
    </ul>
  </section></Layout
>
