---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Historia de Villa Ana">
  <h1
    class="font-gilroyB mb-12 text-3xl bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat pb-1"
  >
    Historia de Villa Ana
  </h1>
  <section>
    <ol class="relative border-l border-gray-700 md:ml-[50%]">
      <li
        class="mb-20 pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >1910</time
        >
        <h3 class="text-lg font-semibold text-gray-900">Fundación</h3>
        <p class="mb-4 text-base text-gray-400">
          Get access to over 20+ pages including a dashboard layout, charts,
          kanban board, calendar, and pre-order E-commerce & Marketing pages.
        </p>
        <a
          href="#"
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
          >Learn more <svg
            class="w-3 h-3 ms-2 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"></path>
          </svg></a
        >
      </li>
      <li
        class="mb-20 pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >1910</time
        >
        <h3 class="text-lg font-semibold text-gray-900">Fundación</h3>
        <p class="mb-4 text-base text-gray-400">
          Get access to over 20+ pages including a dashboard layout, charts,
          kanban board, calendar, and pre-order E-commerce & Marketing pages.
        </p>
      </li>
      <li
        class="mb-20 pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >1960</time
        >
        <h3 class="text-lg font-semibold text-gray-900">
          Cierre de La Forestal
        </h3>
        <p class="text-base text-gray-400">
          All of the pages and components are first designed in Figma and we
          keep a parity between the two versions even as we update the project.
        </p>
      </li>
      <li
        class="mb-20 pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >9 de julio de 2010</time
        >
        <h3 class="text-lg font-semibold text-gray-900">
          Centenario del pueblo
        </h3>
        <p class="text-base text-gray-400">
          Get started with dozens of web components and interactive elements
          built on top of Tailwind CSS.
        </p>
      </li>
      <li
        class="mb-20 pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >9 de julio de 2010</time
        >
        <h3 class="text-lg font-semibold text-gray-900">
          Centenario del pueblo
        </h3>
        <p class="text-base text-gray-400">
          Get started with dozens of web components and interactive elements
          built on top of Tailwind CSS.
        </p>
      </li>
      <li
        class="mb-20 pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >9 de julio de 2010</time
        >
        <h3 class="text-lg font-semibold text-gray-900">
          Centenario del pueblo
        </h3>
        <p class="text-base text-gray-400">
          Get started with dozens of web components and interactive elements
          built on top of Tailwind CSS.
        </p>
      </li>
      <li
        class="mb-20 pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >9 de julio de 2010</time
        >
        <h3 class="text-lg font-semibold text-gray-900">
          Centenario del pueblo
        </h3>
        <p class="text-base text-gray-400">
          Get started with dozens of web components and interactive elements
          built on top of Tailwind CSS.
        </p>
      </li>
      <li
        class="mb-20 pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >9 de julio de 2010</time
        >
        <h3 class="text-lg font-semibold text-gray-900">
          Centenario del pueblo
        </h3>
        <p class="text-base text-gray-400">
          Get started with dozens of web components and interactive elements
          built on top of Tailwind CSS.
        </p>
      </li>
      <li
        class="mb-20 pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >9 de julio de 2010</time
        >
        <h3 class="text-lg font-semibold text-gray-900">
          Centenario del pueblo
        </h3>
        <p class="text-base text-gray-400">
          Get started with dozens of web components and interactive elements
          built on top of Tailwind CSS.
        </p>
      </li>
      <li
        class="mb-20 pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >9 de julio de 2010</time
        >
        <h3 class="text-lg font-semibold text-gray-900">
          Centenario del pueblo
        </h3>
        <p class="text-base text-gray-400">
          Get started with dozens of web components and interactive elements
          built on top of Tailwind CSS.
        </p>
      </li>
      <li
        class="mb-20 pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >9 de julio de 2010</time
        >
        <h3 class="text-lg font-semibold text-gray-900">
          Centenario del pueblo
        </h3>
        <p class="text-base text-gray-400">
          Get started with dozens of web components and interactive elements
          built on top of Tailwind CSS.
        </p>
      </li>
      <li
        class="mb-20 pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >9 de julio de 2010</time
        >
        <h3 class="text-lg font-semibold text-gray-900">
          Centenario del pueblo
        </h3>
        <p class="text-base text-gray-400">
          Get started with dozens of web components and interactive elements
          built on top of Tailwind CSS.
        </p>
      </li>
      <li
        class="mb-20 pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >9 de julio de 2010</time
        >
        <h3 class="text-lg font-semibold text-gray-900">
          Centenario del pueblo
        </h3>
        <p class="text-base text-gray-400">
          Get started with dozens of web components and interactive elements
          built on top of Tailwind CSS.
        </p>
      </li>
      <li
        class="mb-20 pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >9 de julio de 2010</time
        >
        <h3 class="text-lg font-semibold text-gray-900">
          Centenario del pueblo
        </h3>
        <p class="text-base text-gray-400">
          Get started with dozens of web components and interactive elements
          built on top of Tailwind CSS.
        </p>
      </li>
      <li
        class="mb-20 pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >9 de julio de 2010</time
        >
        <h3 class="text-lg font-semibold text-gray-900">
          Centenario del pueblo
        </h3>
        <p class="text-base text-gray-400">
          Get started with dozens of web components and interactive elements
          built on top of Tailwind CSS.
        </p>
      </li>
      <li
        class="pl-4 relative before:absolute before:size-3 before:rounded-full before:top-1.5 before:border before:border-gray-900 before:bg-gray-700"
      >
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >9 de julio de 2010</time
        >
        <h3 class="text-lg font-semibold text-gray-900">
          Centenario del pueblo
        </h3>
        <p class="text-base text-gray-400">
          Get started with dozens of web components and interactive elements
          built on top of Tailwind CSS.
        </p>
      </li>
    </ol>
  </section>
</Layout>

<style>
  li:nth-child(odd) {
    @media (width < 768px) {
      &::before {
        left: -0.375rem;
      }
    }

    @media (width >= 768px) {
      transform: translateX(-100%);
      text-align: right;
      padding-left: 0;
      padding-right: 1rem;
      &::before {
        right: -0.375rem;
      }
    }
  }

  li:nth-child(even) {
    &::before {
      left: -0.375rem;
    }
  }

  li {
    transform-origin: left;
    animation: item-animation linear both;
    animation-timeline: view();

    &::before {
      animation: before-animation linear both;
      animation-timeline: view();
    }
  }

  @keyframes item-animation {
    0% {
      opacity: 0;
      scale: 0.8;
    }

    25% {
      opacity: 1;
      scale: 1;
    }

    75% {
      opacity: 1;
      scale: 1;
    }

    100% {
      opacity: 0;
      scale: 0.8;
    }
  }

  @keyframes before-animation {
    0% {
      scale: 1;
    }

    35% {
      scale: 1.25;
    }

    65% {
      scale: 1.25;
    }

    100% {
      scale: 1;
    }
  }
</style>
