---
import Photos from "../components/Photos.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Comuna de Villa Ana">
  <video
    src="hero-video-phone.mp4"
    autoplay
    loop
    muted
    class="hero-video absolute top-0 -z-10 w-full h-dvh object-cover"></video>
  <main class="max-w-screen-lg mx-auto px-4 md:px-8 pb-4">
    <section
      class="flex justify-center items-center h-[calc(100dvh-96px)] md:h-[calc(100dvh-128px)]"
    >
      <h1 class="max-w-96 text-5xl text-center size text-balance underline">
        Bienvenidos a la página de la Comuna de Villa Ana
      </h1>
    </section>
    <Photos />
  </main>
</Layout>

<style>
  h1 {
    font-family: "Alex Brush", cursive;
  }

  .hero-video {
    mask-image: linear-gradient(to top, black 50%, transparent 100%);
  }
</style>
