---
import SitiosDeInteres from "../components/SitiosDeInteres.astro";
// import Slider from "../components/Slider.astro";
import ContactosUtiles from "../components/ContactosUtiles.astro";
import Tramites from "../components/Tramites.astro";
import Layout from "../layouts/Layout.astro";
import MiPueblo from "../components/MiPueblo.astro";
import FormularioContacto from "../components/FormularioContacto.astro";
import HeroVideo from "@/components/HeroVideo.astro";
---

<Layout
  title="Comuna de Villa Ana"
  description="Información sobre Villa Ana. Fotos, videos, historia y más. Información turística. Trámites y contactos."
>
  <HeroVideo slot="hero-video" />
  <!-- <Slider /> -->
  <section>
    <div
      class="flex text-white max-w-screen-md mx-auto aspect-video grow rounded-lg [background-image:linear-gradient(to_right,transparent,#000000b3_50%,transparent),url(/collage-turismo.avif)] bg-cover bg-center bg-black hover:scale-[1.025] focus-within:scale-[1.025] transition-transform duration-300 shadow-xl shadow-black active:translate-y-1"
    >
      <a
        href="/turismo"
        class="self-stretch flex justify-center items-center w-full px-4 py-2"
        ><h3
          class="text-center text-balance font-gilroyEB text-3xl md:text-5xl [text-shadow:0px_0px_4px_#000000]"
        >
          <span class="uppercase">Visitá Villa Ana</span>
          <span class="block font-gilroyR text-base"
            >Mirá un poco de lo que vas a conocer</span
          >
        </h3></a
      >
    </div>
  </section>
  <section id="pueblo" class="pt-20">
    <h2
      class="font-gilroyB mb-12 text-3xl pb-1 bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat"
    >
      Mi pueblo
    </h2>
    <MiPueblo />
    <div
      class="flex flex-col bg-black mt-20 rounded h-[calc(100dvh-2rem)] shadow-xl shadow-black"
    >
      <picture class="w-full h-0 grow">
        <source media="(max-width: 767px)" srcset="villaana-aerea-phone.avif" />
        <img
          src="villaana-aerea-desktop.avif"
          alt="Foto aerea de Villa Ana"
          class="w-full h-full object-cover object-bottom [mask-image:linear-gradient(to_bottom,black,transparent_100%)]"
        />
      </picture>
      <div
        class="text-white p-4 *:max-w-prose *:text-pretty md:text-center flex flex-col items-center"
      >
        <p>
          La comuna de Villa Ana se sitúa al nordeste de la provincia de Santa
          Fe, en el departamento General Obligado, a 439 km de la capital
          provincial.
        </p>
      </div>
    </div>
  </section>
  <section id="tramites" class="pt-20">
    <h2
      class="font-gilroyB mb-12 text-3xl bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat pb-1"
    >
      Trámites
    </h2>
    <Tramites slice="2" />
    <div class="flex justify-end mt-8">
      <a href="/tramites" class="underline underline-offset-8">Más trámites</a>
    </div>
  </section>
  <section id="contactosutiles" class="pt-20">
    <h2
      class="font-gilroyB mb-12 text-3xl bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat p-1"
    >
      Contactos útiles
    </h2>
    <ContactosUtiles />
    <div class="flex justify-end mt-8">
      <a href="/contactosutiles" class="underline underline-offset-8"
        >Más contactos</a
      >
    </div>
  </section>
  <section id="sitiosdeinteres" class="pt-20">
    <h2
      class="font-gilroyB mb-12 text-3xl pb-1 bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat"
    >
      Sitios de interés
    </h2>
    <SitiosDeInteres slice="2" />
    <div class="flex justify-end mt-8">
      <a href="/sitiosdeinteres" class="underline underline-offset-8"
        >Más sitios de interés</a
      >
    </div>
  </section>
  <section id="contactanos" class="pt-20">
    <h2
      class="font-gilroyB mb-12 text-3xl bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat pb-1"
    >
      Envíanos un correo
    </h2>
    <FormularioContacto />
  </section>
</Layout>
