---
import Photos from "../components/Photos.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Comuna de Villa Ana">
  <video
    src="hero-video-phone.mp4"
    autoplay
    loop
    muted
    class="hero-video absolute top-0 w-full h-dvh max-h-[1080px] object-cover"
  ></video>
  <main class="container mx-auto px-4 md:px-8 pb-4">
    <section
      class="flex flex-col gap-y-6 justify-center items-center h-[calc(100dvh-96px)] md:h-[calc(100dvh-128px)] max-h-[1080px] -translate-y-[48px] md:-translate-y-[64px]"
    >
      <a
        href="#"
        class="text-4xl transition-all relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-white after:transition-all hover:after:w-full"
        >Noticias</a
      >
      <a
        href="#"
        class="text-4xl transition-all relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-white after:transition-all hover:after:w-full"
        >Comunicados</a
      >
      <a
        href="#"
        class="text-4xl transition-all relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-white after:transition-all hover:after:w-full"
        >Eventos</a
      >
      <a
        href="#"
        class="text-4xl transition-all relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-white after:transition-all hover:after:w-full"
        >Trámites</a
      >
      <a
        href="#contacto"
        class="text-4xl transition-all relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-white after:transition-all hover:after:w-full"
        >Contacto</a
      >
    </section>
    <Photos />
  </main>
  <!-- <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/ztxziJF9TkU?si=dYLdVNTbuMkMfKw9"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/5JcrDPhzaIM?si=EW7o629mOW9xnI8W"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/jKuHptCvilQ?si=ZbwXfhaYun8KKx1i"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/uPjWgSfuDWI?si=o3W87uofGEYVl_VG"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/oOq4QdsspSY?si=KIeIzK_Bp-5gBSZ3"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/QTMusu5WmhY?si=05T1zB33eTIAzWz3"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe> -->
</Layout>

<style>
  h1,
  a {
    font-family: "Alex Brush", cursive;
  }

  .hero-video {
    mask-image: linear-gradient(to top, black 0%, transparent 100%);
  }
</style>
