---
import SitiosDeInteres from "../components/SitiosDeInteres.astro";
import Slider from "../components/Slider.astro";
import ContactosUtiles from "../components/ContactosUtiles.astro";
import Tramites from "../components/Tramites.astro";
import Layout from "../layouts/Layout.astro";
import MiPueblo from "../components/MiPueblo.astro";
---

<Layout title="Comuna de Villa Ana">
  <div
    class="absolute bg-black top-0 left-0 w-full h-dvh max-h-[1080px] object-cover -z-10"
  >
    <video
      src="hero-video-phone.mp4"
      autoplay
      loop
      muted
      class="w-full h-full object-cover [mask-image:linear-gradient(to_top,black_0%,transparent_100%)]"
    ></video>
    <!-- <HeroLinks /> -->
  </div>
  <Slider />
  <!-- <img
    srcset="
    villaana-aerea-phone.avif 1134w,
    villaana-aerea-desktop.avif 2016w
    "
    sizes="(max-width: 728px) 100%,
    (max-width: 480px) 440px,
    800px"
    src="villaana-aerea-desktop.avif"
    alt="Elva dressed as a fairy"
    /> -->

  <section class="pt-20">
    <h2
      class="font-gilroyB mb-12 text-3xl pb-1 bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat"
    >
      Mi pueblo
    </h2>
    <MiPueblo />
    <div class="flex flex-col bg-black mt-20 rounded h-[calc(100dvh-2rem)]">
      <picture class="w-full h-0 grow">
        <source media="(max-width: 767px)" srcset="villaana-aerea-phone.avif" />
        <img
          src="villaana-aerea-desktop.avif"
          alt="Foto aerea de Villa Ana"
          class="w-full h-full object-cover object-bottom [mask-image:linear-gradient(to_bottom,black,transparent_100%)]"
        />
      </picture>
      <div
        class="text-white p-4 *:max-w-prose *:text-pretty md:text-center flex flex-col items-center"
      >
        <p>
          La comuna de Villa Ana se sitúa al nordeste de la provincia de Santa
          Fe, en el departamento General Obligado, a 439 km de la capital
          provincial.
        </p>
      </div>
    </div>
  </section>
  <section id="tramites" class="pt-20">
    <h2
      class="font-gilroyB mb-12 text-3xl bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat pb-1"
    >
      Trámites
    </h2>
    <Tramites />
  </section>
  <section id="contactosutiles" class="pt-20">
    <h2
      class="font-gilroyB mb-12 text-3xl bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat p-1"
    >
      Contactos útiles
    </h2>
    <ContactosUtiles />
  </section>
  <section id="sitiosdeinteres" class="pt-20">
    <h2
      class="font-gilroyB mb-12 text-3xl pb-1 bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat"
    >
      Sitios de interés
    </h2>
    <SitiosDeInteres />
  </section>
</Layout>
