---
import SitiosDeInteres from "../components/SitiosDeInteres.astro";
import Slider from "../components/Slider.astro";
import ContactosUtiles from "../components/ContactosUtiles.astro";
import Tramites from "../components/Tramites.astro";
import VideoList from "../components/VideoList.astro";
import Layout from "../layouts/Layout.astro";
import OtrasSecciones from "../components/OtrasSecciones.astro";
---

<Layout title="Comuna de Villa Ana">
  <div
    class="absolute bg-black top-0 left-0 w-full h-dvh max-h-[1080px] object-cover -z-10"
  >
    <video
      src="hero-video-phone.mp4"
      autoplay
      loop
      muted
      class="w-full h-full object-cover [mask-image:linear-gradient(to_top,black_0%,transparent_100%)]"
    ></video>
    <!-- <HeroLinks /> -->
  </div>
  <Slider />
  <OtrasSecciones />
  <section id="tramites" class="pt-20">
    <h2
      class="font-gilroyB mb-12 text-3xl bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat pb-1"
    >
      Trámites
    </h2>
    <Tramites />
  </section>
  <section id="contactosutiles" class="pt-20">
    <h2
      class="font-gilroyB mb-12 text-3xl bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat p-1"
    >
      Contactos útiles
    </h2>
    <ContactosUtiles />
  </section>
  <section id="sitiosdeinteres" class="pt-20">
    <h2
      class="font-gilroyB mb-12 text-3xl pb-1 bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat"
    >
      Sitios de interés
    </h2>
    <SitiosDeInteres />
  </section>
</Layout>
