---
import HeroLinks from "../components/HeroLinks.astro";
import Photos from "../components/Photos.astro";
import SitiosDeInteres from "../components/SitiosDeInteres.astro";
import Slider from "../components/Slider.astro";
import TelefonosUtiles from "../components/TelefonosUtiles.astro";
import Tramites from "../components/Tramites.astro";
import Videos from "../components/Videos.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Comuna de Villa Ana">
  <div
    class="absolute bg-black top-0 w-full h-dvh max-h-[1080px] object-cover -z-10"
  >
    <video
      src="hero-video-phone.mp4"
      autoplay
      loop
      muted
      class="w-full h-full object-cover [mask-image:linear-gradient(to_top,black_0%,transparent_100%)]"
    ></video>
  </div>
  <main class="container mx-auto px-4 md:px-8 pb-4">
    <HeroLinks />
    <Slider />
    <Tramites />
    <TelefonosUtiles />
    <Photos />
    <Videos />
    <SitiosDeInteres />
  </main>
</Layout>
