---
import Layout from "../layouts/Layout.astro";
import TramitesList from "../components/Tramites.astro";
---

<Layout
  title="Tr치mites - Comuna de Villa Ana"
  description="Tr치mite de patente, impuesto inmobiliario y m치s."
>
  <section class="pt-8">
    <h1
      class="font-gilroyB mb-12 text-3xl bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat pb-1"
    >
      Tr치mites
    </h1>
    <TramitesList />
  </section></Layout
>
