---
import Layout from "../layouts/Layout.astro";
import TramitesList from "../components/Tramites.astro";
---

<Layout title="Trámites">
  <section class="pt-8">
    <h1
      class="font-brush mb-12 text-4xl bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat pb-1"
    >
      Trámites
    </h1>
    <TramitesList />
  </section></Layout
>
