---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Turismo en Villa Ana"
  description="Fotos e información sobre los sitios turísticos de Villa Ana."
>
  <section class="pt-8">
    <h1
      class="font-gilroyB mb-12 text-3xl bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat pb-1"
    >
      Turismo
    </h1>
    <div class="flex flex-col gap-8">
      <article
        class="card-turismo flex flex-col md:flex-row bg-black rounded h-[calc(100dvh-2rem)] md:h-auto md:aspect-video md:max-h-[calc(100dvh-2rem)] shadow-xl shadow-black"
      >
        <img
          src="/ruinas-fabrica-forestal.avif"
          alt="Ruinas de la Fàbrica de La Forestal"
          class="w-full md:w-0 h-0 md:h-auto grow object-cover object-left [mask-image:linear-gradient(to_bottom,black,transparent_100%)]"
        />
        <div
          class="md:w-[min(40%,24rem)] text-white p-4 *:max-w-prose *:text-pretty flex flex-col"
        >
          <h2 class="font-gilroyEB text-lg">
            Ruinas de la Fábrica de La Forestal
          </h2>
          <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            recusandae porro, alias inventore expedita adipisci tempore eius
            beatae ipsum, ullam hic debitis similique ipsam blanditiis ad
            minima, quod eaque quia?
          </p> -->
        </div>
      </article>
      <article
        class="card-turismo flex flex-col md:flex-row bg-black rounded h-[calc(100dvh-2rem)] md:h-auto md:aspect-video md:max-h-[calc(100dvh-2rem)] shadow-xl shadow-black"
      >
        <img
          src="/arroyo-el-rey.avif"
          alt="Foto aerea del arroyo El Rey"
          class="w-full md:w-0 h-0 md:h-auto grow object-cover [mask-image:linear-gradient(to_bottom,black,transparent_100%)]"
        />
        <div
          class="md:w-[min(40%,24rem)] text-white p-4 *:max-w-prose *:text-pretty flex flex-col"
        >
          <h2 class="font-gilroyEB text-lg">Arroyo El Rey</h2>
          <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            recusandae porro, alias inventore expedita adipisci tempore eius
            beatae ipsum, ullam hic debitis similique ipsam blanditiis ad
            minima, quod eaque quia?
          </p> -->
        </div>
      </article>
      <article
        class="card-turismo flex flex-col md:flex-row bg-black rounded h-[calc(100dvh-2rem)] md:h-auto md:aspect-video md:max-h-[calc(100dvh-2rem)] shadow-xl shadow-black"
      >
        <img
          src="/estero-el-trece.avif"
          alt="Foto del estero de El Trece"
          class="w-full md:w-0 h-0 md:h-auto grow object-cover [mask-image:linear-gradient(to_bottom,black,transparent_100%)]"
        />
        <div
          class="md:w-[min(40%,24rem)] text-white p-4 *:max-w-prose *:text-pretty flex flex-col"
        >
          <h2 class="font-gilroyEB text-lg">Estero de El Trece</h2>
          <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            recusandae porro, alias inventore expedita adipisci tempore eius
            beatae ipsum, ullam hic debitis similique ipsam blanditiis ad
            minima, quod eaque quia?
          </p> -->
        </div>
      </article>
      <article
        class="card-turismo flex flex-col md:flex-row bg-black rounded h-[calc(100dvh-2rem)] md:h-auto md:aspect-video md:max-h-[calc(100dvh-2rem)] shadow-xl shadow-black"
      >
        <img
          src="/estacion-mocovi.avif"
          alt="Foto de la Estación de Mocoví"
          class="w-full md:w-0 h-0 md:h-auto grow object-cover [mask-image:linear-gradient(to_bottom,black,transparent_100%)]"
        />
        <div
          class="md:w-[min(40%,24rem)] text-white p-4 *:max-w-prose *:text-pretty flex flex-col"
        >
          <h2 class="font-gilroyEB text-lg">Estación Mocoví</h2>
          <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            recusandae porro, alias inventore expedita adipisci tempore eius
            beatae ipsum, ullam hic debitis similique ipsam blanditiis ad
            minima, quod eaque quia?
          </p> -->
        </div>
      </article>
      <article
        class="card-turismo flex flex-col md:flex-row bg-black rounded h-[calc(100dvh-2rem)] md:h-auto md:aspect-video md:max-h-[calc(100dvh-2rem)] shadow-xl shadow-black"
      >
        <img
          src="/estero-mocovi.avif"
          alt="Foto del Estero del Mocoví"
          class="w-full md:w-0 h-0 md:h-auto grow object-cover [mask-image:linear-gradient(to_bottom,black,transparent_100%)]"
        />
        <div
          class="md:w-[min(40%,24rem)] text-white p-4 *:max-w-prose *:text-pretty flex flex-col"
        >
          <h2 class="font-gilroyEB text-lg">Estero del Mocoví</h2>
          <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            recusandae porro, alias inventore expedita adipisci tempore eius
            beatae ipsum, ullam hic debitis similique ipsam blanditiis ad
            minima, quod eaque quia?
          </p> -->
        </div>
      </article>
      <article
        class="card-turismo flex flex-col md:flex-row bg-black rounded h-[calc(100dvh-2rem)] md:h-auto md:aspect-video md:max-h-[calc(100dvh-2rem)] shadow-xl shadow-black"
      >
        <img
          src="/cilo-forestal.avif"
          alt="Foto del Cilo Forestal"
          class="w-full md:w-0 h-0 md:h-auto grow object-cover [mask-image:linear-gradient(to_bottom,black,transparent_100%)]"
        />
        <div
          class="md:w-[min(40%,24rem)] text-white p-4 *:max-w-prose *:text-pretty flex flex-col"
        >
          <h2 class="font-gilroyEB text-lg">Cilo Forestal</h2>
          <!-- <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            recusandae porro, alias inventore expedita adipisci tempore eius
            beatae ipsum, ullam hic debitis similique ipsam blanditiis ad
            minima, quod eaque quia?
          </p> -->
        </div>
      </article>
    </div>
  </section>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const $$cards = document.querySelectorAll(".card-turismo");

    const callback = (entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("animate");
          observer.unobserve(entry.target);
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      threshold: 0.2,
    });

    $$cards.forEach(($card) => observer.observe($card));
  });
</script>

<style>
  .card-turismo {
    transition:
      opacity 1s,
      translate 1s;

    @media (scripting: enabled) {
      opacity: 0;
      translate: 0 100px;

      &.animate {
        opacity: 1;
        translate: 0;
      }
    }

    &:nth-child(odd) {
      img {
        @media (width >= 768px) {
          mask-image: linear-gradient(to right, black, transparent 100%);
        }
      }

      div {
        text-align: right;
      }
    }

    &:nth-child(even) {
      img {
        @media (width >= 768px) {
          mask-image: linear-gradient(to left, black, transparent 100%);
          order: 1;
        }
      }

      div {
        align-self: end;
      }
    }
  }
</style>
