---
import Heading1 from "../components/Heading1.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Turismo">
  <section class="pt-8">
    <Heading1 text="Turismo" />
    <div class="flex flex-col gap-8">
      <article
        class="flex flex-col md:flex-row bg-black rounded h-[calc(100dvh-2rem)] md:h-auto md:aspect-video shadow-xl shadow-black"
      >
        <img
          src="/ruinas-fabrica-forestal.avif"
          alt="Ruinas de la Fàbrica de La Forestal"
          class="w-full md:w-0 h-0 md:h-auto grow object-cover object-left [mask-image:linear-gradient(to_bottom,black,transparent_100%)]"
        />
        <div
          class="md:w-[min(40%,24rem)] text-white p-4 *:max-w-prose *:text-pretty flex flex-col"
        >
          <h2 class="font-gilroyEB text-lg">
            Ruinas de la Fábrica de La Forestal
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            recusandae porro, alias inventore expedita adipisci tempore eius
            beatae ipsum, ullam hic debitis similique ipsam blanditiis ad
            minima, quod eaque quia?
          </p>
        </div>
      </article>
      <article
        class="flex flex-col md:flex-row bg-black rounded h-[calc(100dvh-2rem)] md:h-auto md:aspect-video shadow-xl shadow-black"
      >
        <img
          src="/arroyo-el-rey.avif"
          alt="Foto aerea del arroyo El Rey"
          class="w-full md:w-0 h-0 md:h-auto grow object-cover [mask-image:linear-gradient(to_bottom,black,transparent_100%)]"
        />
        <div
          class="md:w-[min(40%,24rem)] text-white p-4 *:max-w-prose *:text-pretty flex flex-col"
        >
          <h2 class="font-gilroyEB text-lg">Arroyo El Rey</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            recusandae porro, alias inventore expedita adipisci tempore eius
            beatae ipsum, ullam hic debitis similique ipsam blanditiis ad
            minima, quod eaque quia?
          </p>
        </div>
      </article>
      <article
        class="flex flex-col md:flex-row bg-black rounded h-[calc(100dvh-2rem)] md:h-auto md:aspect-video shadow-xl shadow-black"
      >
        <img
          src="/estero-el-trece.avif"
          alt="Foto del estero de El Trece"
          class="w-full md:w-0 h-0 md:h-auto grow object-cover [mask-image:linear-gradient(to_bottom,black,transparent_100%)]"
        />
        <div
          class="md:w-[min(40%,24rem)] text-white p-4 *:max-w-prose *:text-pretty flex flex-col"
        >
          <h2 class="font-gilroyEB text-lg">Estero de El Trece</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            recusandae porro, alias inventore expedita adipisci tempore eius
            beatae ipsum, ullam hic debitis similique ipsam blanditiis ad
            minima, quod eaque quia?
          </p>
        </div>
      </article>
      <article
        class="flex flex-col md:flex-row bg-black rounded h-[calc(100dvh-2rem)] md:h-auto md:aspect-video shadow-xl shadow-black"
      >
        <img
          src="/estacion-mocovi.avif"
          alt="Foto de la Estación de Mocoví"
          class="w-full md:w-0 h-0 md:h-auto grow object-cover [mask-image:linear-gradient(to_bottom,black,transparent_100%)]"
        />
        <div
          class="md:w-[min(40%,24rem)] text-white p-4 *:max-w-prose *:text-pretty flex flex-col"
        >
          <h2 class="font-gilroyEB text-lg">Estación Mocoví</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            recusandae porro, alias inventore expedita adipisci tempore eius
            beatae ipsum, ullam hic debitis similique ipsam blanditiis ad
            minima, quod eaque quia?
          </p>
        </div>
      </article>
      <article
        class="flex flex-col md:flex-row bg-black rounded h-[calc(100dvh-2rem)] md:h-auto md:aspect-video shadow-xl shadow-black"
      >
        <img
          src="/estero-mocovi.avif"
          alt="Foto del Estero del Mocoví"
          class="w-full md:w-0 h-0 md:h-auto grow object-cover [mask-image:linear-gradient(to_bottom,black,transparent_100%)]"
        />
        <div
          class="md:w-[min(40%,24rem)] text-white p-4 *:max-w-prose *:text-pretty flex flex-col"
        >
          <h2 class="font-gilroyEB text-lg">Estero del Mocoví</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            recusandae porro, alias inventore expedita adipisci tempore eius
            beatae ipsum, ullam hic debitis similique ipsam blanditiis ad
            minima, quod eaque quia?
          </p>
        </div>
      </article>
      <article
        class="flex flex-col md:flex-row bg-black rounded h-[calc(100dvh-2rem)] md:h-auto md:aspect-video shadow-xl shadow-black"
      >
        <img
          src="/cilo-forestal.avif"
          alt="Foto del Cilo Forestal"
          class="w-full md:w-0 h-0 md:h-auto grow object-cover [mask-image:linear-gradient(to_bottom,black,transparent_100%)]"
        />
        <div
          class="md:w-[min(40%,24rem)] text-white p-4 *:max-w-prose *:text-pretty flex flex-col"
        >
          <h2 class="font-gilroyEB text-lg">Cilo Forestal</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
            recusandae porro, alias inventore expedita adipisci tempore eius
            beatae ipsum, ullam hic debitis similique ipsam blanditiis ad
            minima, quod eaque quia?
          </p>
        </div>
      </article>
    </div>
  </section>
</Layout>

<style>
  article {
    &:nth-child(odd) {
      img {
        @media (width >= 768px) {
          mask-image: linear-gradient(to right, black, transparent 100%);
        }
      }

      div {
        text-align: right;
      }
    }

    &:nth-child(even) {
      img {
        @media (width >= 768px) {
          mask-image: linear-gradient(to left, black, transparent 100%);
          order: 1;
        }
      }

      div {
        align-self: end;
      }
    }
  }

  @supports (animation-timeline: view(20%)) {
    article {
      animation: item-animation linear both;
      animation-timeline: view(20%);
    }
  }

  @keyframes item-animation {
    0% {
      opacity: 0;
      scale: 0.8;
    }

    25% {
      opacity: 1;
      scale: 1;
    }

    75% {
      opacity: 1;
      scale: 1;
    }

    100% {
      opacity: 0;
      scale: 0.8;
    }
  }
</style>
