---
import Isologo from "./Isologo.astro";
import MenuIcon from "./icons/MenuIcon.astro";
import XIcon from "./icons/XIcon.astro";
---

<header
  class="text-white md:bg-transparent bg-opacity-90 transition-all overflow-y-auto"
>
  <div
    class="header max-w-screen-lg mx-auto grid grid-cols-2 content-start md:flex items-center justify-between p-4 md:px-8 transition-all md:h-auto"
  >
    <a href="/" class="justify-self-start hover:scale-105 transition-all">
      <Isologo />
    </a>
    <button
      aria-label="Abrir menú"
      class="open-menu-btn justify-self-end md:hidden hover:scale-105 transition-all"
    >
      <MenuIcon />
    </button>
    <button
      aria-label="Cerrar menú"
      class="close-menu-btn hidden justify-self-end md:hidden hover:scale-105 transition-all"
    >
      <XIcon />
    </button>
    <nav
      class="col-span-2 flex max-md:hidden gap-6 flex-col items-center md:flex-row py-4 md:py-0"
    >
      <a
        href="#"
        class="transition-all relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-white after:transition-all hover:after:w-full"
      >
        Gobierno
      </a>
      <a
        href="#"
        class="transition-all relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-white after:transition-all hover:after:w-full"
      >
        Mi Pueblo
      </a>
      <a
        href="#"
        class="transition-all relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-white after:transition-all hover:after:w-full"
      >
        Noticias
      </a>
    </nav>
  </div>
</header>

<script>
  const $body = document.querySelector("body");
  const $container = document.querySelector("header");
  const $header = document.querySelector(".header");
  const $openMenuBtn = document.querySelector(".open-menu-btn");
  const $closeMenuBtn = document.querySelector(".close-menu-btn");
  const $menu = document.querySelector("nav");

  function handleClick() {
    $openMenuBtn.classList.toggle("hidden");
    $closeMenuBtn.classList.toggle("hidden");
    $menu.classList.toggle("max-md:hidden");
    $container.classList.toggle("bg-slate-950");
    $header.classList.toggle("h-dvh");
    $body.classList.toggle("overflow-y-hidden");
  }

  $openMenuBtn.addEventListener("click", handleClick);
  $closeMenuBtn.addEventListener("click", handleClick);
</script>
