---
import Isologo from "./Isologo.astro";
import MenuIcon from "./icons/MenuIcon.astro";
import XIcon from "./icons/XIcon.astro";
---

<header
  class="text-white md:bg-transparent bg-opacity-90 transition-all overflow-y-auto"
>
  <div
    class="header max-w-screen-lg mx-auto grid grid-cols-2 content-start md:flex items-center justify-between p-4 md:px-8 transition-all md:h-auto"
  >
    <a href="/" class="justify-self-start hover:scale-105 transition-all">
      <Isologo />
    </a>
    <button
      aria-label="Abrir menú"
      class="open-menu-btn z-10 justify-self-end md:hidden hover:scale-105 transition-all"
    >
      <MenuIcon />
    </button>
    <button
      aria-label="Cerrar menú"
      class="close-menu-btn hidden justify-self-end md:hidden hover:scale-105 transition-all"
    >
      <XIcon />
    </button>
    <nav class="py-4 md:py-0 z-10 max-md:hidden col-span-2">
      <ul class="flex gap-6 flex-col md:flex-row">
        <li>
          <a
            href="#"
            class="nav-link block relative border-b border-gray-400 md:border-none pb-2 pr-6 after:content-[url('chevron-up.svg')] after:absolute after:right-0 after:scale-75 md:hover:after:content-[url('chevron-down.svg')] peer"
          >
            Gobierno
          </a>
          <ul
            class="flex max-md:hidden md:hidden md:peer-hover:flex flex-col gap-6 pl-4 pt-6 md:absolute md:backdrop-blur-xl md:border md:border-gray-400 md:rounded"
          >
            <li>
              <a
                href="#"
                class="block relative border-b border-gray-400 md:border-none pb-2 pr-6"
                >Trámites</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block relative border-b border-gray-400 md:border-none pb-2 pr-6"
                >Noticias</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block relative border-b border-gray-400 md:border-none pb-2 pr-6"
                >Comunicados</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#"
            class="block relative border-b border-gray-400 md:border-none pb-2 pr-6 after:content-[url('chevron-up.svg')] after:absolute after:right-0 after:scale-75"
          >
            Mi Pueblo
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!--
class="after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:transition-[width] after:bg-white hover:after:w-full"
-->

<script>
  const $body = document.querySelector("body");
  const $container = document.querySelector("header");
  const $header = document.querySelector(".header");
  const $openMenuBtn = document.querySelector(".open-menu-btn");
  const $closeMenuBtn = document.querySelector(".close-menu-btn");
  const $menu = document.querySelector("nav");

  function handleClickMenuBtn() {
    $openMenuBtn.classList.toggle("hidden");
    $closeMenuBtn.classList.toggle("hidden");
    $menu.classList.toggle("max-md:hidden");
    $container.classList.toggle("bg-slate-950");
    $header.classList.toggle("h-dvh");
    $body.classList.toggle("overflow-y-hidden");
  }

  function handleClick(e) {
    const $clickedElement = e.target;
    if ($clickedElement.matches(".nav-link")) {
      $clickedElement.nextElementSibling.classList.toggle("max-md:hidden");
    }
  }

  $openMenuBtn.addEventListener("click", handleClickMenuBtn);
  $closeMenuBtn.addEventListener("click", handleClickMenuBtn);
  $menu.addEventListener("click", handleClick);
</script>

<style>
  @media (width <= 768px) {
    li:not(:has(.max-md\:hidden)) .nav-link::after {
      content: url("chevron-down.svg");
    }
  }
</style>
