---
import Isologo from "./Isologo.astro";
import MenuIcon from "./icons/MenuIcon.astro";
import XIcon from "./icons/XIcon.astro";
import MenuList from "./MenuList.astro";

const menu = [
  { text: "Gobierno", links: [{ text: "Trámites", href: "/tramites" }] },
  {
    text: "Mi Pueblo",
    links: [
      {
        text: "Galería",
        links: [
          { text: "Fotos", href: "/fotos" },
          { text: "Videos", href: "/videos" },
        ],
      },
      { text: "Historia", href: "/historia" },
    ],
  },
  {
    text: "Ciudadanía",
    links: [
      { text: "Contactos Útiles", href: "/contactosutiles" },
      { text: "Sitios de interés", href: "/sitiosdeinteres" },
    ],
  },
];
---

<header
  style={`${Astro.url.pathname === "/" ? "animation: sticky-header linear both; animation-range: 0 100dvh; animation-timeline: scroll(root block)" : ""}`}
  class={`sticky top-0 z-10 overflow-y-auto md:overflow-visible text-white ${Astro.url.pathname !== "/" ? "bg-[color-mix(in_srgb,#020617,transparent_10%)] backdrop-blur-[2px]" : ""}`}
>
  <div
    class="header container mx-auto grid grid-cols-2 content-start md:flex items-center justify-between p-4 md:px-8 md:h-auto"
  >
    <a href="/" class="justify-self-start hover:scale-105 transition-transform">
      <Isologo />
    </a>
    <button
      aria-label="Abrir menú"
      class="open-menu justify-self-end md:hidden hover:scale-105 transition-transform"
    >
      <MenuIcon />
    </button>
    <button
      aria-label="Cerrar menú"
      class="close-menu hidden justify-self-end hover:scale-105 transition-transform"
    >
      <XIcon />
    </button>
    <nav
      class="menu py-4 md:py-0 z-10 hidden md:block md:translate-y-[6px] col-span-2"
    >
      <MenuList items={menu} />
    </nav>
  </div>
</header>

<script>
  const $openMenuBtn = document.querySelector("button.open-menu");
  const $closeMenuBtn = document.querySelector("button.close-menu");
  const $menu = document.querySelector(".menu");

  function handleClickMenuBtn() {
    $menu.classList.toggle("open");
  }

  function handleClickMenu(e) {
    const $clickedElement = e.target;
    if ($clickedElement.matches(".dropdown")) {
      const dropdown = $clickedElement.nextElementSibling;
      dropdown.classList.toggle("open");
      return;
    }

    if ($clickedElement.matches(".link")) {
      $menu.classList.remove("open");
    }
  }

  $openMenuBtn.addEventListener("click", handleClickMenuBtn);
  $closeMenuBtn.addEventListener("click", handleClickMenuBtn);
  $menu.addEventListener("click", handleClickMenu);
</script>

<style is:global>
  body:has(.menu.open) {
    overflow: hidden;
  }

  .menu > ul {
    @media (width >= 768px) {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
    }
  }

  .menu > ul > li > .dropdown {
    @media (width >= 768px) {
      padding-top: 0;
      padding-left: 0;
      border: none;
    }
  }

  .menu > ul > li > a {
    @media (width >= 768px) {
      padding-top: 0;
      padding-inline: 0;
      border: none;
    }
  }

  .menu > ul > li li a:hover {
    @media (width >= 768px) {
      background-color: color-mix(in srgb, var(--skyblue), transparent 80%);
    }
  }

  .menu > ul > li ul {
    padding-left: 1rem;
    @media (width >= 768px) {
      padding-left: 0;
      background-color: color-mix(in srgb, var(--blue), transparent 10%);
      backdrop-filter: blur(4px);
    }
  }

  .menu > ul > li > ul {
    @media (width >= 768px) {
      position: absolute;
      border: 1px solid #9ca3af;
      border-bottom: none;
      min-width: 16rem;
      max-width: 24rem;
      right: 0;
    }
  }

  .menu > ul > li > ul ul {
    @media (width >= 768px) {
      position: absolute;
      border: 1px solid #9ca3af;
      border-bottom: none;
      min-width: 16rem;
      max-width: 24rem;
      top: -1px;
      transform: translateX(-100%);
    }
  }
</style>

<style>
  @media (width < 768px) {
    header:has(.menu.open) {
      background-color: color-mix(in srgb, #020617, transparent 10%) !important;
      backdrop-filter: blur(2px) !important;

      > div {
        height: 100dvh;

        button.open-menu {
          display: none;
        }

        button.close-menu {
          display: block;
        }

        .menu {
          display: block;
        }
      }
    }
  }

  @keyframes sticky-header {
    0% {
      background-color: transparent;
      backdrop-filter: blur(0px);
    }

    100% {
      background-color: rgba(2, 6, 23, 0.95);
      backdrop-filter: blur(2px);
    }
  }
</style>
