<section
  class="flex flex-col gap-y-6 justify-center items-center h-[calc(100dvh-96px)] md:h-[calc(100dvh-128px)] max-h-[1080px] -translate-y-[48px] md:-translate-y-[64px] text-white"
>
  <a
    href="#noticias"
    class="font-brush text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full"
    >Noticias</a
  >
  <a
    href="#tramites"
    class="font-brush text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full"
    >Trámites</a
  >
  <a
    href="#fotos"
    class="font-brush text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full"
    >Fotos</a
  >
  <a
    href="#videos"
    class="font-brush text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full"
    >Videos</a
  >
  <a
    href="#contacto"
    class="font-brush text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full"
    >Contacto</a
  >
</section>

<style>
  a {
    text-shadow: 0px 0px 4px #000000;
  }
</style>
