<section class="hero-links">
  <a href="#pueblo">Mi pueblo</a>
  <a href="#tramites">Trámites</a>
  <a href="#contactosutiles">Contactos útiles</a>
  <a href="#sitiosdeinteres">Sitios de interés</a>
  <!-- <a href="#contactanos">Contáctanos</a> -->
</section>
