<section
  class="absolute inset-0 m-auto flex flex-col gap-y-6 justify-center items-center text-white"
>
  <a
    href="#destacados"
    class="font-gilroyEB text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full"
    >Destacados</a
  >
  <a
    href="#tramites"
    class="font-gilroyEB text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full"
    >Trámites</a
  >
  <a
    href="#contactosutiles"
    class="font-gilroyEB text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full"
    >Contacto</a
  >
  <a
    href="#fotos"
    class="font-gilroyEB text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full"
    >Fotos</a
  >
  <a
    href="#videos"
    class="font-gilroyEB text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full"
    >Videos</a
  >
  <a
    href="#sitiosdeinteres"
    class="font-gilroyEB text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full"
    >Sitios de interés</a
  >
</section>

<style>
  a {
    text-shadow: 0px 0px 4px #000000;
  }
</style>
