<section
  id="hero-links"
  class="absolute inset-0 m-auto flex flex-col gap-y-6 justify-center items-center text-white"
>
  <a
    href="#pueblo"
    class="font-lush text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full focus-visible:after:w-full"
    >Mi pueblo</a
  >
  <a
    href="#tramites"
    class="font-lush text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full focus-visible:after:w-full"
    >Trámites</a
  >
  <a
    href="#contactosutiles"
    class="font-lush text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full focus-visible:after:w-full"
    >Contactos útiles</a
  >
  <a
    href="#sitiosdeinteres"
    class="font-lush text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full focus-visible:after:w-full"
    >Sitios de interés</a
  >
  <a
    href="#contactanos"
    class="font-lush text-4xl relative after:absolute after:w-0 after:h-[2px] after:-bottom-1 after:left-0 after:bg-custom-skyblue after:transition-[width] hover:after:w-full focus-visible:after:w-full"
    >Contáctanos</a
  >
</section>

<style>
  a {
    text-shadow: 0px 0px 4px #000000;
  }
</style>
