---
import Logo from "./Logo.astro";
import "@fontsource/alex-brush";
---

<div class="flex items-center gap-1">
  <Logo />
  <h1 class="text-xs md:text-base">
    Comuna de
    <span class="block text-2xl md:text-4xl text-nowrap"> Villa Ana </span>
  </h1>
</div>

<style>
  h1 {
    font-family: "Alex Brush", cursive;
  }
</style>
