---
import Logo from "./Logo.astro";
---

<div class="flex items-center gap-2">
  <Logo />
  <h1 class="flex flex-col">
    <span class="uppercase text-[9px] md:text-[10px]">Comuna de</span>
    <span class="text-[32px] font-lush md:text-4xl text-nowrap leading-none"
      >Villa Ana</span
    >
  </h1>
</div>
