<div class="flex flex-col md:flex-row md:flex-wrap gap-6 text-white">
  <div
    class="flex min-h-32 grow rounded-lg [background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/collage-turismo1.avif)] bg-cover bg-center bg-black min-w-96 shadow-xl shadow-black hover:scale-[1.025] focus-within:scale-[1.025] transition-transform active:translate-y-1"
  >
    <a
      href="/turismo"
      class="self-stretch flex justify-center items-center w-full px-4 py-2"
      ><h3
        class="text-center text-balance font-extrabold text-xl [text-shadow:0px_0px_4px_#000000]"
      >
        Turismo
      </h3></a
    >
  </div>

  <div
    class="flex min-h-32 grow rounded-lg [background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/collage-fotos.avif)] bg-cover bg-center bg-black min-w-96 shadow-xl shadow-black hover:scale-[1.025] focus-within:scale-[1.025] transition-transform active:translate-y-1"
  >
    <a
      href="/fotos"
      class="self-stretch flex justify-center items-center w-full px-4 py-2"
      ><h3
        class="text-center text-balance font-extrabold text-xl [text-shadow:0px_0px_4px_#000000]"
      >
        Fotos
      </h3></a
    >
  </div>
  <div
    class="flex min-h-32 grow rounded-lg [background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/collage-videos.avif)] bg-cover bg-center bg-black min-w-96 shadow-xl shadow-black hover:scale-[1.025] focus-within:scale-[1.025] transition-transform active:translate-y-1"
  >
    <a
      href="/videos"
      class="self-stretch flex justify-center items-center w-full px-4 py-2"
      ><h3
        class="text-center text-balance font-extrabold text-xl [text-shadow:0px_0px_4px_#000000]"
      >
        Videos
      </h3></a
    >
  </div>
  <div
    class="flex min-h-32 grow rounded-lg [background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/collage-historia.avif)] bg-cover bg-center bg-black min-w-96 shadow-xl shadow-black hover:scale-[1.025] focus-within:scale-[1.025] transition-transform active:translate-y-1"
  >
    <a
      href="/historia"
      class="self-stretch flex justify-center items-center w-full px-4 py-2"
      ><h3
        class="text-center text-balance font-extrabold text-xl [text-shadow:0px_0px_4px_#000000]"
      >
        Historia
      </h3></a
    >
  </div>
</div>

<!-- <style>
  div > div {
    &:nth-child(even) {
      animation: fadein-even linear;
      animation-timeline: view();
      animation-range: entry 0% entry-crossing 200%;
    }

    &:nth-child(odd) {
      animation: fadein-odd linear;
      animation-timeline: view();
      animation-range: entry 0% entry-crossing 200%;
    }
  }

  @keyframes fadein-even {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }

    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes fadein-odd {
    from {
      opacity: 0;
      transform: translateX(100%);
    }

    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
</style> -->
