<div>
  <a href="/noticias/se-viene-la-fiesta-del-chivo">
    <figure>
      <img
        src="https://www.malargueadiario.com/wp-content/uploads/2024/01/Fiesta-Nacional-del-Chivo-2-759x500.jpg"
        alt=""
      />
    </figure>
    <time datetime="2024-03-27T19:37-03:00">14 de julio de 2024</time>
    <h3>Se viene la Fiesta del Chivo</h3>
  </a>
  <a href="/noticias/se-viene-la-fiesta-del-chivo">
    <figure>
      <img
        src="https://www.malargueadiario.com/wp-content/uploads/2024/01/Fiesta-Nacional-del-Chivo-2-759x500.jpg"
        alt=""
      />
    </figure>
    <time datetime="2024-03-27T19:37-03:00">14 de julio de 2024</time>
    <h3>Se viene la Fiesta del Chivo</h3>
  </a>
  <a href="/noticias/se-viene-la-fiesta-del-chivo">
    <figure>
      <img
        src="https://www.malargueadiario.com/wp-content/uploads/2024/01/Fiesta-Nacional-del-Chivo-2-759x500.jpg"
        alt=""
      />
    </figure>
    <time datetime="2024-03-27T19:37-03:00">14 de julio de 2024</time>
    <h3>Se viene la Fiesta del Chivo</h3>
  </a>
  <a href="/noticias/se-viene-la-fiesta-del-chivo">
    <figure>
      <img
        src="https://www.malargueadiario.com/wp-content/uploads/2024/01/Fiesta-Nacional-del-Chivo-2-759x500.jpg"
        alt=""
      />
    </figure>
    <time datetime="2024-03-27T19:37-03:00">14 de julio de 2024</time>
    <h3>Se viene la Fiesta del Chivo</h3>
  </a>
  <a href="/noticias/se-viene-la-fiesta-del-chivo">
    <figure>
      <img
        src="https://www.malargueadiario.com/wp-content/uploads/2024/01/Fiesta-Nacional-del-Chivo-2-759x500.jpg"
        alt=""
      />
    </figure>
    <time datetime="2024-03-27T19:37-03:00">14 de julio de 2024</time>
    <h3>Se viene la Fiesta del Chivo</h3>
  </a>
  <a href="/noticias/se-viene-la-fiesta-del-chivo">
    <figure>
      <img
        src="https://www.malargueadiario.com/wp-content/uploads/2024/01/Fiesta-Nacional-del-Chivo-2-759x500.jpg"
        alt=""
      />
    </figure>
    <time datetime="2024-03-27T19:37-03:00">14 de julio de 2024</time>
    <h3>Se viene la Fiesta del Chivo</h3>
  </a>
  <a href="/noticias/se-viene-la-fiesta-del-chivo">
    <figure>
      <img
        src="https://www.malargueadiario.com/wp-content/uploads/2024/01/Fiesta-Nacional-del-Chivo-2-759x500.jpg"
        alt=""
      />
    </figure>
    <time datetime="2024-03-27T19:37-03:00">14 de julio de 2024</time>
    <h3>Se viene la Fiesta del Chivo</h3>
  </a>
  <a href="/noticias/se-viene-la-fiesta-del-chivo">
    <figure>
      <img
        src="https://www.malargueadiario.com/wp-content/uploads/2024/01/Fiesta-Nacional-del-Chivo-2-759x500.jpg"
        alt=""
      />
    </figure>
    <time datetime="2024-03-27T19:37-03:00">14 de julio de 2024</time>
    <h3>Se viene la Fiesta del Chivo</h3>
  </a>
</div>

<style>
  div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
  }

  a {
    &:is(:hover, :focus-visible) {
      img {
        scale: 1.05;
      }

      h3 {
        color: var(--blue);
      }
    }
  }

  figure {
    overflow: hidden;
    border-radius: 0.5rem;
  }

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
    transition: scale 0.3s;
  }

  time {
    font-size: 0.75rem;
  }

  h3 {
    font-weight: bold;
    transition: color 0.3s;
  }
</style>
