<section class="pt-20">
  <h2
    class="font-gilroyB mb-12 text-3xl pb-1 bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat"
  >
    Mi pueblo
  </h2>
  <div class="flex flex-col md:flex-row md:flex-wrap gap-6 text-white">
    <div
      class="flex relative overflow-hidden min-h-32 grow border border-gray-500 rounded-lg [background-image:linear-gradient(to_right,transparent,#000000b3_50%,transparent)] group"
    >
      <img
        src="/collage-historia.avif"
        alt="Collage de fotos históricas de Villa Ana"
        loading="lazy"
        class="absolute w-full h-full object-cover object-center -z-10 group-hover:scale-110 group-focus-within:scale-110 transition-transform duration-300"
      />
      <a
        href="/historia"
        class="self-stretch flex justify-center items-center w-full px-4 py-2"
        ><h3 class="text-center text-balance font-bold text-xl">
          Historia de Villa Ana
        </h3></a
      >
    </div>
    <div
      class="flex relative overflow-hidden min-h-32 grow border border-gray-500 rounded-lg [background-image:linear-gradient(to_right,transparent,#000000b3_50%,transparent)] group"
    >
      <img
        src="/collage-fotos.avif"
        alt="Collage de fotos de Villa Ana"
        loading="lazy"
        class="absolute w-full h-full object-cover object-center -z-10 group-hover:scale-110 group-focus-within:scale-110 transition-transform duration-300"
      />
      <a
        href="/fotos"
        class="self-stretch flex justify-center items-center w-full px-4 py-2"
        ><h3 class="text-center text-balance font-bold text-xl">
          Fotos de Villa Ana
        </h3></a
      >
    </div>
    <div
      class="flex relative overflow-hidden min-h-32 grow border border-gray-500 rounded-lg [background-image:linear-gradient(to_right,transparent,#000000b3_50%,transparent)] group"
    >
      <img
        src="/collage-videos.avif"
        alt="Collage de videos de Villa Ana"
        loading="lazy"
        class="absolute w-full h-full object-cover object-center -z-10 group-hover:scale-110 group-focus-within:scale-110 transition-transform duration-300"
      />
      <a
        href="/videos"
        class="self-stretch flex justify-center items-center w-full px-4 py-2"
        ><h3 class="text-center text-balance font-bold text-xl">
          Videos de Villa Ana
        </h3></a
      >
    </div>
  </div>
</section>

<style>
  h3 {
    text-shadow: 0px 0px 4px #000000;
  }
</style>
