---
const photos = [
  { url: "photos/photo1.webp" },
  { url: "photos/photo2.webp" },
  { url: "photos/photo3.jpg" },
  { url: "photos/photo4.webp" },
  { url: "photos/photo5.jpg" },
  { url: "photos/photo6.jpg" },
  { url: "photos/photo7.jpg" },
];
---

<section id="fotos" class="pt-8">
  <h2
    class="mb-12 text-2xl font-bold bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat"
  >
    Fotos
  </h2>
  <div
    class="photo-list grid grid-cols-[repeat(auto-fit,minmax(min(11rem,100%),1fr))] gap-4"
  >
    {
      photos.map((photo) => {
        return (
          <figure class="rounded overflow-hidden relative max-sm:after:content-[url('/hand-click.svg')_'_Pulsa_para_expandir_la_imagen'] sm:after:content-[url('/click.svg')_'_Haz_click_para_expandir_la_imagen'] sm:after:opacity-0 sm:after:absolute sm:after:bottom-5 sm:hover:after:bottom-2 sm:hover:after:opacity-100 sm:after:transition-all sm:after:duration-500 after:text-white after:absolute after:bottom-2 after:right-0 after:left-0 after:text-center after:text-xs after:text-balance after:px-1 after:[text-shadow:0px_0px_4px_black] cursor-zoom-in group bg-black">
            <img
              src={photo.url}
              class="photo w-full aspect-[3/4] object-cover group-hover:scale-105 sm:grayscale sm:group-hover:grayscale-0"
              loading="lazy"
            />
          </figure>
        );
      })
    }
    <a
      href="#fotos"
      class="flex justify-center items-center aspect-[3/4] cursor-pointer border rounded hover:scale-105 transition-transform duration-300 [background-image:linear-gradient(to_right,black,transparent),linear-gradient(to_left,black,transparent),url(/collage-fotos.avif)] bg-center bg-cover text-white font-bold [text-shadow:0px_0px_4px_black]"
    >
      Ver más fotos
    </a>
  </div>
  <dialog
    class="photo-dialog w-11/12 max-w-screen-lg rounded outline-none backdrop:backdrop-blur-lg backdrop:cursor-zoom-out"
  >
    <img class="photo-zoom w-full aspect-video object-cover cursor-zoom-out" />
  </dialog>
</section>

<style is:global>
  body:has(.photo-dialog[open]) {
    overflow-y: hidden;
  }
</style>

<style>
  .photo {
    mask-image: linear-gradient(to bottom, black 50%, transparent 95%);
    transition: all 0.5s;
  }

  @media (width >= 640px) {
    .photo {
      mask-image: none;
    }

    figure {
      &:hover {
        .photo {
          mask-image: linear-gradient(to bottom, black 50%, transparent 95%);
        }
      }
    }
  }
</style>

<script>
  const $photoList = document.querySelector(".photo-list");
  const $photoModal = document.querySelector(
    ".photo-dialog"
  ) as HTMLDialogElement;
  const $photoZoom = document.querySelector(".photo-zoom") as HTMLImageElement;

  function handleClickPhoto(e) {
    const $figure = e.target.closest("figure");
    if ($figure) {
      $photoZoom.src = $figure.firstElementChild.src;
      $photoModal.showModal();
    }
  }

  function handleClickInPhotoModal() {
    $photoModal.close();
    $photoZoom.src = "";
  }

  $photoList.addEventListener("click", handleClickPhoto);
  $photoModal.addEventListener("click", handleClickInPhotoModal);
</script>
