---
const photos = [
  { url: "photos/photo1.webp" },
  { url: "photos/photo2.webp" },
  { url: "photos/photo3.jpg" },
  { url: "photos/photo4.webp" },
  { url: "photos/photo5.jpg" },
  { url: "photos/photo6.jpg" },
  { url: "photos/photo7.jpg" },
];
---

<section class="pt-8">
  <h2
    class="mb-12 text-2xl font-bold bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat w-fit pr-16"
  >
    Fotos
  </h2>
  <div
    class="photo-list grid grid-cols-[repeat(auto-fit,minmax(min(208px,100%),1fr))] gap-4"
  >
    {
      photos.map((photo) => {
        return (
          <figure class="rounded overflow-hidden relative max-sm:after:content-[url('/hand-click.svg')_'_Pulsa_para_expandir_la_imagen'] sm:hover:after:content-[url('/click.svg')_'_Haz_click_para_expandir_la_imagen'] after:text-white after:absolute after:bottom-2 after:right-0 after:left-0 after:text-center after:text-xs cursor-zoom-in group bg-black">
            <img
              src={photo.url}
              class="photo w-full aspect-[3/4] object-cover group-hover:scale-105 transition-transform"
            />
          </figure>
        );
      })
    }
  </div>
  <dialog
    class="photo-dialog w-11/12 max-w-screen-lg rounded outline-none backdrop:backdrop-blur-lg backdrop:cursor-zoom-out"
  >
    <img class="photo-zoom w-full aspect-video object-cover cursor-zoom-out" />
  </dialog>
</section>

<style is:global>
  body:has(.photo-dialog[open]) {
    overflow-y: hidden;
  }
</style>

<style>
  .photo {
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  }

  @media (width >= 640px) {
    .photo {
      mask-image: none;
    }

    figure {
      &:hover {
        .photo {
          mask-image: linear-gradient(to bottom, black, transparent 100%);
        }
      }
    }
  }
</style>

<script>
  const $photoList = document.querySelector(".photo-list");
  const $photoModal = document.querySelector(
    ".photo-dialog"
  ) as HTMLDialogElement;
  const $photoZoom = document.querySelector(".photo-zoom") as HTMLImageElement;

  function handleClickPhoto(e) {
    if (e.target.matches(".photo")) {
      $photoZoom.src = e.target.src;
      $photoModal.showModal();
    }
  }

  function handleClickInPhotoModal() {
    $photoModal.close();
    $photoZoom.src = "";
  }

  $photoList.addEventListener("click", handleClickPhoto);
  $photoModal.addEventListener("click", handleClickInPhotoModal);
</script>
