<section id="tramites" class="pt-8">
  <h2 class="mb-4 text-2xl">Sitios de interés</h2>
  <div class="flex flex-wrap gap-12">
    <a
      href="https://www.argentina.gob.ar"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center hover:scale-105 transition-transform"
      ><img
        src="/logo-gobierno-argentina.svg"
        alt="Logo del Gobierno de Argentina"
        class="h-12"
      /></a
    >
    <a
      href="https://www.santafe.gob.ar"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center hover:scale-105 transition-transform"
      ><img
        src="/logo-santafe.png"
        alt="Logo del Gobierno de Santa Fe"
        class="h-12"
      /></a
    >
    <a
      href="https://www.anses.gob.ar"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center hover:scale-105 transition-transform"
      ><img src="/logo-anses.png" alt="Logo de Anses" class="h-12" /></a
    >
  </div>
</section>
