---
const images = [
  {
    src: "https://scontent.fcnq4-1.fna.fbcdn.net/v/t39.30808-6/409476477_1535621933923466_2752113715745145730_n.jpg?stp=dst-jpg_s600x600&_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeExvwWBWW6C4meWEiDOoQah8ZOJixY7KCPxk4mLFjsoI-ZEfZk4MXQBweXO1XyHQV6PDwSwVda2jJ1y4JBw62NC&_nc_ohc=UoUYUrli3lAQ7kNvgH4XJnE&_nc_ht=scontent.fcnq4-1.fna&oh=00_AfDLxUbxQ_yXlu3mJA8Ry7YyDvWobZ7Exz2qD5X8_u-LkA&oe=663A1463",
    alt: "",
  },
  {
    src: "https://scontent.fcnq4-1.fna.fbcdn.net/v/t39.30808-6/402601750_1521373878681605_2801537300827082102_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFe0yK4oygGqqfE3JwrIFZvNcbDOcUPfpM1xsM5xQ9-k3KUUVRCfKF1dLLkTwQWq2ST_TBH5qvZFM74XVQVyh2l&_nc_ohc=L8BBLhkauPkQ7kNvgFF0rtz&_nc_ht=scontent.fcnq4-1.fna&oh=00_AfCJlBJxsROjKZ5RJkenlnmAnt-FquxGTBYJIfT608WHDw&oe=6639F6EF",
    alt: "",
  },
  {
    src: "https://scontent.fcnq4-1.fna.fbcdn.net/v/t39.30808-6/401711614_1520625098756483_6524858912651244788_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF0lFfR3-JfvfxerBGX-I3_r-2tcp7mcymv7a1ynuZzKalSHF0lRWrQJQDuBFeJU8n40vTWJv95sfhgaPJPuGAc&_nc_ohc=BKU-MFgqjmwQ7kNvgFlFfJy&_nc_oc=AdigRzpqstNSME3q_lm675gHkfoqkk63idpnsK2T9yYpoQHKM2f-66L7FmWgfATpPKg&_nc_ht=scontent.fcnq4-1.fna&oh=00_AfDjmdnHy4jkNa-FxD8KPQFCkPPZevSftT4ikzJPfflQLg&oe=6639F5DB",
    alt: "",
  },
  {
    src: "https://scontent.fcnq4-1.fna.fbcdn.net/v/t39.30808-6/399293557_1518743208944672_4309661506128305612_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG6yGvOp3qEQH7nhSiWobCiS0CksfRGmmpLQKSx9EaaahwzxlKqllxDHxFZ__K5ABGvWLe4DAesg3REj0d1ds_A&_nc_ohc=wdaf84DVjGwQ7kNvgFu8LtS&_nc_ht=scontent.fcnq4-1.fna&oh=00_AfA4mzIfBLqvijDLfkzIp0mKZ3InLZXuHxiLMhBVsEszEg&oe=663A0937",
    alt: "",
  },
  {
    src: "https://scontent.fcnq4-1.fna.fbcdn.net/v/t39.30808-6/393355255_1506354953516831_6721373852856324739_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH4Q1vF3dDaITf3Cp1LHmo12Z2xdIAO7KLZnbF0gA7somEtYbxM8ENQuOanXLmwGS_nOVosTPAX-r8h5rJOons2&_nc_ohc=aaBJPPybxXkQ7kNvgGWbAco&_nc_ht=scontent.fcnq4-1.fna&oh=00_AfADc5wlfzbCb264q8h4F3U5tWrWZB-ZzwbymNAMR-_utQ&oe=6639FD89",
    alt: "",
  },
];
---

<section>
  <div class="slider-container">
    <div class="slider">
      {
        images.map((image, index) => (
          <div class={`slide ${index === 0 ? "active" : ""}`}>
            <img src={image.src} alt={image.alt} />
          </div>
        ))
      }
    </div>
    <button class="prev-btn"><img src="/chevron-up.svg" /></button>
    <button class="next-btn"><img src="/chevron-up.svg" /></button>
    <div class="slider-indicators">
      {
        images.map((image, index) => (
          <button
            class={`indicator ${index === 0 ? "active" : ""}`}
            data-slide={index}
          />
        ))
      }
    </div>
  </div>
</section>

<script>
  const $slider = document.querySelector(".slider");
  const $slides = [...document.querySelectorAll(".slide")];
  const $prevBtn = document.querySelector(".prev-btn");
  const $nextBtn = document.querySelector(".next-btn");
  const $sliderIndicators = document.querySelector(".slider-indicators");
  const $indicators = [...$sliderIndicators.querySelectorAll(".indicator")];

  let slideIndex = 0;
  const totalSlides = $slides.length;
  let intervalId;

  function showSlide() {
    $slides.forEach(($slide) => $slide.classList.remove("active"));
    $slides[slideIndex].classList.add("active");
    $indicators.forEach(($indicator) => $indicator.classList.remove("active"));
    $indicators[slideIndex].classList.add("active");
  }

  function nextAutomaticSlide() {
    if (slideIndex < totalSlides - 1) {
      slideIndex++;
    } else {
      slideIndex = 0;
    }
    showSlide();
  }

  function resetInterval() {
    clearInterval(intervalId);
    intervalId = setInterval(nextAutomaticSlide, 5000);
  }

  function nextSlide() {
    nextAutomaticSlide();
    resetInterval();
  }

  function prevSlide() {
    if (slideIndex > 0) {
      slideIndex--;
    } else {
      slideIndex = totalSlides - 1;
    }
    showSlide();
    resetInterval();
  }

  function goToSlide(e) {
    const $elemClicked = e.target;
    if ($elemClicked.matches("button.indicator")) {
      slideIndex = +$elemClicked.dataset.slide;
    }
    showSlide();
    resetInterval();
  }

  $nextBtn.addEventListener("click", nextSlide);

  $prevBtn.addEventListener("click", prevSlide);

  $sliderIndicators.addEventListener("click", goToSlide);

  $slider.addEventListener("mouseover", () => clearInterval(intervalId));

  $slider.addEventListener(
    "mouseleave",
    () => (intervalId = setInterval(nextSlide, 5000))
  );

  intervalId = setInterval(nextAutomaticSlide, 5000);
</script>

<style>
  section {
    padding-top: 2rem;
  }

  .slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 56rem;
    margin-inline: auto;
    border-radius: 0.25rem;
  }

  .slider {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    isolation: isolate;

    @media (width >= 640px) {
      aspect-ratio: 16/9;
    }
  }

  .slide {
    position: absolute;
    transition: z-index 0.5s ease;
    height: 100%;
    width: 100%;
    background: #000;
    transition: 0.01s clip-path 0.6s;
    clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  }

  .slide.active {
    z-index: 1;
    transition: 0.6s clip-path;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }

  .slide img {
    display: block;
    height: 100%;
    margin-inline: auto;
    object-fit: cover;
  }

  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 100%;
    cursor: pointer;
    transition: scale 0.3s;
    opacity: 0.8;

    &:hover {
      scale: 1.05;
      opacity: 1;
    }
  }

  .prev-btn {
    left: 10px;

    img {
      rotate: -90deg;
      translate: -5px 0;
    }
  }

  .next-btn {
    right: 10px;
    img {
      rotate: 90deg;
      translate: 5px 0;
    }
  }

  .slider-indicators {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
  }

  button.indicator {
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 100%;
    transition:
      background-color 0.15s,
      scale 0.3s;
    background-color: white;
    opacity: 0.8;

    &:hover {
      scale: 1.05;
      opacity: 1;
    }
  }

  button.indicator.active {
    background-color: #333;
  }

  button.indicator:not(.active) {
    background-color: white;
  }
</style>
