---
import { TRAMITES } from "@/utils/data.js";

const { slice } = Astro.props;
---

<div class="flex flex-col md:flex-row md:flex-wrap gap-6 text-white">
  {
    TRAMITES.slice(0, slice).map((tramite) => (
      <div class="flex relative overflow-hidden min-h-32 grow shadow-xl shadow-black active:translate-y-1 min-w-96 rounded-lg [background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8))] group">
        <img
          src={`/${tramite.image.src}`}
          alt={tramite.image.alt}
          class="absolute w-full h-full object-cover -z-10 group-hover:scale-110 group-focus-within:scale-110 transition duration-300 md:grayscale md:group-hover:grayscale-0 md:group-focus-within:grayscale-0"
        />
        <a
          href={tramite.link.href}
          target="_blank"
          rel="noopener noreferrer"
          class="self-stretch flex justify-center items-center w-full px-4 py-2"
        >
          <h3 class="text-center text-balance font-gilroyEB text-xl">
            {tramite.link.label}
          </h3>
        </a>
      </div>
    ))
  }
</div>

<style>
  h3 {
    text-shadow: 0px 0px 4px #000000;
  }
</style>
