---
import CarIcon from "./icons/CarIcon.astro";
import HomeIcon from "./icons/HomeIcon.astro";
---

<section id="tramites" class="pt-8">
  <h2 class="mb-4 text-2xl">Trámites</h2>
  <div class="flex flex-wrap gap-6">
    <a
      href="https://www.santafe.gov.ar/e-pt-boletas"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center hover:scale-105 transition-transform"
      ><CarIcon class="text-[#35B700] size-40" /><h3>Patente</h3></a
    >
    <a
      href="https://www.santafe.gov.ar/e-in-boletas/"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center hover:scale-105 transition-transform"
      ><HomeIcon class="text-[#35B700] size-40" /><h3>
        Impuesto inmobiliario
      </h3></a
    >
  </div>
</section>
