<section id="tramites" class="pt-8">
  <h2
    class="mb-12 text-2xl font-bold bg-[linear-gradient(to_right,var(--red),var(--green),var(--blue))] bg-[length:100%_4px] bg-left-bottom bg-no-repeat pb-1"
  >
    Trámites
  </h2>
  <div class="flex flex-col md:flex-row md:flex-wrap gap-6 text-white">
    <a
      href="https://www.santafe.gov.ar/e-pt-boletas"
      target="_blank"
      rel="noopener noreferrer"
      class="flex justify-center items-center min-h-32 grow hover:scale-105 transition-transform duration-300 px-4 py-2 border border-gray-500 rounded-lg [background-image:linear-gradient(to_right,transparent,#000000b3_50%,transparent),url(/patente.jpg)] bg-cover bg-center"
      ><h3 class="font-bold text-lg">Patente</h3></a
    >
    <a
      href="https://www.santafe.gov.ar/e-in-boletas"
      target="_blank"
      rel="noopener noreferrer"
      class="flex justify-center items-center min-h-32 grow hover:scale-105 transition-transform duration-300 px-4 py-2 border border-gray-500 rounded-lg [background-image:linear-gradient(to_right,transparent,#000000b3_50%,transparent),url(/inmobiliario.webp)] bg-cover bg-center"
      ><h3 class="font-bold text-lg">Impuesto inmobiliario</h3></a
    >
    <a
      href="https://www.epe.santafe.gov.ar/oficina-virtual"
      target="_blank"
      rel="noopener noreferrer"
      class="flex justify-center items-center min-h-32 grow hover:scale-105 transition-transform duration-300 px-4 py-2 border border-gray-500 rounded-lg [background-image:linear-gradient(to_right,transparent,#000000b3_50%,transparent),url(/epeoficinavirtual.webp)] bg-cover bg-center"
      ><h3 class="font-bold text-lg">EPE - Oficina Virtual</h3></a
    >
    <a
      href="https://www.santafe.gov.ar/rcdigital"
      target="_blank"
      rel="noopener noreferrer"
      class="flex justify-center items-center min-h-32 grow hover:scale-105 transition-transform duration-300 px-4 py-2 border border-gray-500 rounded-lg [background-image:linear-gradient(to_right,transparent,#000000b3_50%,transparent),url(/partidadenacimiento.jpg)] bg-cover bg-center"
      ><h3 class="font-bold text-lg">Partida de nacimiento</h3></a
    >
  </div>
</section>

<style>
  a {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
</style>
