---
import { TRAMITES } from "@/utils/data.js";

const { slice } = Astro.props;
---

<div class="tramites__container">
  {
    TRAMITES.slice(0, slice).map((tramite) => (
      <div
        class="tramites__item"
        style={`background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/${tramite.image.src})`}
      >
        <a href={tramite.link.href} target="_blank" rel="noopener noreferrer">
          <h3>{tramite.link.label}</h3>
        </a>
      </div>
    ))
  }
</div>

<style>
  .tramites__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: white;

    @media (width >= 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .tramites__item {
    display: flex;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    min-height: 8rem;
    border-radius: 0.5rem;
    background-size: 100%;
    background-position: center;
    box-shadow: var(--shadow-black-lg);
    transition:
      translate 0.3s,
      background-size 0.3s;

    &:active {
      translate: 0 0.25rem;
    }

    &:is(:hover, :focus-within) {
      background-size: 110%;
    }

    @media (width >= 768px) {
      min-width: 24rem;
    }
  }

  a {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
  }

  h3 {
    font-weight: 800;
    text-align: center;
    text-wrap: balance;
    font-size: 1.25rem;
    text-shadow: var(--text-shadow-black);
  }
</style>
