<section class="pt-8">
  <h2 class="mb-4 text-2xl">Videos</h2>
  <div class="grid grid-cols-[repeat(auto-fit,minmax(384px,1fr))] gap-4">
    <lite-youtube videoid="ztxziJF9TkU" title="Villa Ana"></lite-youtube>
    <lite-youtube videoid="5JcrDPhzaIM" title="Villa Ana"></lite-youtube>
    <lite-youtube videoid="jKuHptCvilQ" title="Villa Ana"></lite-youtube>
    <lite-youtube videoid="uPjWgSfuDWI" title="Villa Ana"></lite-youtube>
    <lite-youtube videoid="oOq4QdsspSY" title="Villa Ana"></lite-youtube>
    <lite-youtube videoid="QTMusu5WmhY" title="Villa Ana"></lite-youtube>
  </div>
</section>
