---
// import { ViewTransitions } from "astro:transitions";

// import "@fontsource-variable/onest";
// import "@fontsource/alex-brush";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/avif" href="logo.avif" />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body
    class="relative -z-20 bg-[color-mix(in_srgb,var(--skyblue),transparent_95%)] text-black md:overflow-y-auto"
  >
    <Header />
    <main
      class={`container mx-auto px-4 md:px-8 pb-4 min-h-dvh ${Astro.url.pathname === "/" ? "mt-[100dvh]" : "mt-6"} `}
    >
      <slot />
    </main>
    <Footer />

    <style is:global>
      @font-face {
        font-family: "Lush";
        src: url("/fonts/lush.woff2") format("woff2");
        font-display: swap;
      }

      /* @font-face {
        font-family: "Gilroy-Light";
        src: url("/fonts/gilroy-light.woff2") format("woff2");
        font-display: swap;
      } */

      @font-face {
        font-family: "Gilroy-Regular";
        src: url("/fonts/gilroy-regular.woff2") format("woff2");
        font-display: swap;
      }

      @font-face {
        font-family: "Gilroy-Regular-Italic";
        src: url("/fonts/gilroy-regular-italic.woff2") format("woff2");
        font-display: swap;
      }

      @font-face {
        font-family: "Gilroy-Bold";
        src: url("/fonts/gilroy-bold.woff2") format("woff2");
        font-display: swap;
      }

      /* @font-face {
        font-family: "Gilroy-ExtraBold";
        src: url("/fonts/gilroy-extrabold.woff2") format("woff2");
        font-display: swap;
      } */

      :root {
        --red: #f12b42;
        --green: rgb(63, 174, 7);
        --blue: rgb(17, 40, 134);
        --skyblue: rgb(69, 206, 222);
      }

      body {
        font-family: "Gilroy-Regular", sans-serif;
      }
    </style>
  </body>
</html>
